<%# frozen_string_literal: true %>
<span class="heart-field">
<% css = "icon icon-heart" # "icon icon-heart-off" %>
<%=link_to "Like", "javascript:void(0);", :remote => true, :class => css %><%# TODO %>
<%= @subject.hearts.count %>
</span>
