<%# frozen_string_literal: true %>
<h3><%= l :hearts_link_label %></h3>
<ul>
  <li><%= link_to(t(:hearts_count_label, :count => @heart_count), :controller => :hearts, :action => :hearted_by, :user_id => @user.id) %></li>
</ul>
